@import url('https://fonts.googleapis.com/css?family=Cantarell|Lato|Open+Sans|Poiret+One|Quicksand|Raleway:200|Roboto');

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Quicksand";
}

.silver {
  color: #c0c0c0;
}

.name {
  font-family: 'Raleway';
  font-size: 56px;
  line-height: 100px;
  color: #bf9b30;
}

.subtitle {
  font-family: 'Raleway';
  font-size: 28px;
  color: #696969;
}

#header {
  text-align: center;
  border: 0px;
  color: #bf9b30;
  margin-bottom: 2%;
  /* border: 5px solid black; */
}

.landing-container {
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 300px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.App1::before {
  content: '';
  display: block;
  height: 100vh;
  width: 20px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #bf9b30;
}

.App2::before {
  content: '';
  display: block;
  height: 100vh;
  width: 20px;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #bf9b30;
}

.about-container {
  margin-top: 35%;
  position: relative;
  font-size: 20px;
  color: #696969;
}

.about-container h1 {
  font-size: 56px;
  font-family: 'Raleway';
}

.projects-container {
  margin-top: 15em;
  text-align: center;
}

.projects-container h1 {
  font-size: 64px;
  font-family: 'Raleway';
}

.jumbotron {
  margin-top: 5%;
  background-color: transparent;
  border: 2px solid #a8a8a8;
  /* border-color: #bf9b30; */
  /* border-radius: 2px; */
}

.jumbotron h1 {
  font-size: 56px;
}

.jumbotron p {
  margin-top: 1.5%;
  color: #696969;
}

.wrapper {
  text-align: center;
}

.prof_pic {
  border-radius: 50%;
  width: 500px;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.round {
  border-radius: 50%;
}

.project {
  margin-left: 0 auto;
  margin-right: 0 auto;
}

.project img {
  width: 1200px;
  object-fit: cover;
  border-style: none;
}

.camp-us {
  background-image: url(./main/camp-us-thumbnail.png);
}

a {
  font-weight: 700;
  color: #696969;
}

.contact {
  margin-top: 12%;
}

img.favicon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 48px;
}